<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="~/favicon.ico?20417786499" type="image/x-icon">
        <title>Jackal</title>
	    @Styles.Render("~/bundle/styles")
        @Scripts.Render("~/bundle/scripts")
    </head>
    <body>
        @RenderBody()
    </body>
</html>
